@font-face {
   font-family: 'DIN Next LT Pro Medium';
   font-display: swap;
   src: url('file:///Users/dave/Documents/GitHub/Sites/For%20Review/NextPropertyGroup_2.2/fonts/DIN%20Next%20LT%20Pro%20Medium/font.woff');
}
