@font-face {
   font-family: 'DINNextLTPro-Bold';
   font-display: swap;
   src: url('file:///Users/dave/Documents/GitHub/Sites/For%20Review/NextPropertyGroup_2.2/fonts/DINNextLTPro-Bold/font.woff');
}
